#gallery {
  display: flex;
}
.gallery-item {
  list-style: none;
}
.gallery-image {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input:focus {
  outline: 0;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
.task8-box {
  margin-bottom: 10px;
}
